
USE [SWP391_SE1849_GROUP4]
GO
/****** Object:  Table [dbo].[Assessment]    Script Date: 7/27/2024 4:32:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assessment](
	[studentId] [int] NOT NULL,
	[year] [int] NOT NULL,
	[averageScore] [float] NULL,
	[status] [nvarchar](50) NULL,
	[note] [nvarchar](500) NULL,
 CONSTRAINT [PK__Assessme__F518740483EB25C2] PRIMARY KEY CLUSTERED 
(
	[studentId] ASC,
	[year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 7/27/2024 4:32:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[sessionId] [int] NOT NULL,
	[studentId] [int] NOT NULL,
	[isPresent] [bit] NULL,
	[note] [nvarchar](100) NULL,
	[recorded_time] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[sessionId] ASC,
	[studentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 7/27/2024 4:32:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[classId] [int] IDENTITY(1,1) NOT NULL,
	[level] [int] NULL,
	[className] [nvarchar](100) NULL,
	[chargeTeacherId] [int] NULL,
	[year] [int] NULL,
	[limitNumberOfStudent] [int] NULL,
	[isActive] [bit] NULL,
 CONSTRAINT [PK__Class__7577347E745D9FE3] PRIMARY KEY CLUSTERED 
(
	[classId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exam]    Script Date: 7/27/2024 4:32:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exam](
	[examId] [int] IDENTITY(1,1) NOT NULL,
	[examType] [nvarchar](100) NULL,
	[subjectId] [int] NULL,
	[teacherId] [int] NULL,
	[slotId] [int] NULL,
	[examDate] [date] NULL,
	[room] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[examId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamStudent]    Script Date: 7/27/2024 4:32:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamStudent](
	[examId] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[examId] ASC,
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 7/27/2024 4:32:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[materialId] [int] IDENTITY(1,1) NOT NULL,
	[materialName] [nvarchar](200) NULL,
	[subjectId] [int] NULL,
	[materialDescription] [nvarchar](1000) NULL,
	[fileName] [nvarchar](3000) NULL,
	[createdBy] [int] NULL,
	[materialForRole] [nvarchar](50) NULL,
 CONSTRAINT [PK__Material__99B653FD9B7FA098] PRIMARY KEY CLUSTERED 
(
	[materialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Session]    Script Date: 7/27/2024 4:32:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Session](
	[sessionId] [int] IDENTITY(1,1) NOT NULL,
	[classId] [int] NULL,
	[subjectId] [int] NULL,
	[slotId] [int] NULL,
	[room] [nvarchar](50) NULL,
	[supervisorId] [int] NULL,
	[date] [date] NULL,
	[isAttanded] [bit] NULL,
	[index] [int] NULL,
 CONSTRAINT [PK__Session__23DB122B76144693] PRIMARY KEY CLUSTERED 
(
	[sessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentClass]    Script Date: 7/27/2024 4:32:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentClass](
	[studentId] [int] NOT NULL,
	[classId] [int] NOT NULL,
	[scoreSemester1] [float] NULL,
	[scoreSemester2] [float] NULL,
 CONSTRAINT [PK_StudentClass] PRIMARY KEY CLUSTERED 
(
	[studentId] ASC,
	[classId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 7/27/2024 4:32:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[subjectId] [int] IDENTITY(1,1) NOT NULL,
	[subjectName] [nvarchar](100) NULL,
	[isTeaching] [bit] NULL,
 CONSTRAINT [PK__Subject__ACF9A740FE202F66] PRIMARY KEY CLUSTERED 
(
	[subjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeacherSubject]    Script Date: 7/27/2024 4:32:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeacherSubject](
	[teacherId] [int] NOT NULL,
	[subjectId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[teacherId] ASC,
	[subjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeSlot]    Script Date: 7/27/2024 4:32:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSlot](
	[slotId] [int] IDENTITY(1,1) NOT NULL,
	[description] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[slotId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 7/27/2024 4:32:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[userId] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NULL,
	[password] [varchar](50) NULL,
	[fullName] [nvarchar](255) NULL,
	[dob] [date] NULL,
	[gender] [nvarchar](30) NULL,
	[avatar] [text] NULL,
	[phone] [varchar](20) NULL,
	[email] [varchar](40) NULL,
	[address] [nvarchar](255) NULL,
	[role] [nvarchar](50) NULL,
	[active] [bit] NULL,
	[historyPassword] [nvarchar](1000) NULL,
 CONSTRAINT [PK__User__CB9A1CFFF07442C1] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Assessment] ([studentId], [year], [averageScore], [status], [note]) VALUES (17, 2024, 8, N'Pass', N'')
INSERT [dbo].[Assessment] ([studentId], [year], [averageScore], [status], [note]) VALUES (18, 2024, 6.5, N'Pass', N'')
INSERT [dbo].[Assessment] ([studentId], [year], [averageScore], [status], [note]) VALUES (19, 2024, 5, N'Pass', N'')
GO
SET IDENTITY_INSERT [dbo].[Class] ON 

INSERT [dbo].[Class] ([classId], [level], [className], [chargeTeacherId], [year], [limitNumberOfStudent], [isActive]) VALUES (1, 1, N'1A', 2, 2024, 30, 1)
INSERT [dbo].[Class] ([classId], [level], [className], [chargeTeacherId], [year], [limitNumberOfStudent], [isActive]) VALUES (2, 1, N'1B', 3, 2024, 30, 1)
INSERT [dbo].[Class] ([classId], [level], [className], [chargeTeacherId], [year], [limitNumberOfStudent], [isActive]) VALUES (3, 2, N'2A', 4, 2024, 30, 1)
SET IDENTITY_INSERT [dbo].[Class] OFF
GO
SET IDENTITY_INSERT [dbo].[Exam] ON 

INSERT [dbo].[Exam] ([examId], [examType], [subjectId], [teacherId], [slotId], [examDate], [room]) VALUES (1, N'Midterm Exam', 1, 2, 1, CAST(N'2024-08-30' AS Date), N'1A')
INSERT [dbo].[Exam] ([examId], [examType], [subjectId], [teacherId], [slotId], [examDate], [room]) VALUES (2, N'Midterm Exam', 2, 3, 2, CAST(N'2024-08-30' AS Date), N'1A')
INSERT [dbo].[Exam] ([examId], [examType], [subjectId], [teacherId], [slotId], [examDate], [room]) VALUES (3, N'Midterm Exam', 3, 2, 3, CAST(N'2024-08-30' AS Date), N'1A')
SET IDENTITY_INSERT [dbo].[Exam] OFF
GO
INSERT [dbo].[ExamStudent] ([examId], [StudentId]) VALUES (7, 137)
INSERT [dbo].[ExamStudent] ([examId], [StudentId]) VALUES (7, 138)
INSERT [dbo].[ExamStudent] ([examId], [StudentId]) VALUES (7, 139)
GO
SET IDENTITY_INSERT [dbo].[Material] ON 

INSERT [dbo].[Material] ([materialId], [materialName], [subjectId], [materialDescription], [fileName], [createdBy], [materialForRole]) VALUES (1, N'Toán 1', 1, N'', N'Toán 1.docx', 1, N'teacher')
INSERT [dbo].[Material] ([materialId], [materialName], [subjectId], [materialDescription], [fileName], [createdBy], [materialForRole]) VALUES (2, N'Toán 1', 1, N'', N'Toán 1.docx', 1, N'student')
INSERT [dbo].[Material] ([materialId], [materialName], [subjectId], [materialDescription], [fileName], [createdBy], [materialForRole]) VALUES (3, N'Tiếng Việt 1', 1, N'', N'Tiếng Việt 1.docx', 1, N'teacher')
SET IDENTITY_INSERT [dbo].[Material] OFF
GO
SET IDENTITY_INSERT [dbo].[Session] ON 

INSERT [dbo].[Session] ([sessionId], [classId], [subjectId], [slotId], [room], [supervisorId], [date], [isAttanded], [index]) VALUES (1, 1, 7, 1, N'1A', 2, CAST(N'2024-07-24' AS Date), 0, NULL)
INSERT [dbo].[Session] ([sessionId], [classId], [subjectId], [slotId], [room], [supervisorId], [date], [isAttanded], [index]) VALUES (2, 1, 2, 2, N'1A', 3, CAST(N'2024-07-24' AS Date), 0, NULL)
INSERT [dbo].[Session] ([sessionId], [classId], [subjectId], [slotId], [room], [supervisorId], [date], [isAttanded], [index]) VALUES (3, 1, 3, 3, N'1A', 5, CAST(N'2024-07-24' AS Date), 0, NULL)
SET IDENTITY_INSERT [dbo].[Session] OFF
GO
INSERT [dbo].[StudentClass] ([studentId], [classId], [scoreSemester1], [scoreSemester2]) VALUES (17, 3, 9, 7)
INSERT [dbo].[StudentClass] ([studentId], [classId], [scoreSemester1], [scoreSemester2]) VALUES (18, 1, 6, 7)
INSERT [dbo].[StudentClass] ([studentId], [classId], [scoreSemester1], [scoreSemester2]) VALUES (19, 1, 4, 6)
GO
SET IDENTITY_INSERT [dbo].[Subject] ON 

INSERT [dbo].[Subject] ([subjectId], [subjectName], [isTeaching]) VALUES (1, N'Tiếng Việt', 1)
INSERT [dbo].[Subject] ([subjectId], [subjectName], [isTeaching]) VALUES (2, N'Toán', 1)
INSERT [dbo].[Subject] ([subjectId], [subjectName], [isTeaching]) VALUES (3, N'Đạo Đức', 1)
SET IDENTITY_INSERT [dbo].[Subject] OFF
GO
INSERT [dbo].[TeacherSubject] ([teacherId], [subjectId]) VALUES (2, 7)
INSERT [dbo].[TeacherSubject] ([teacherId], [subjectId]) VALUES (3, 2)
INSERT [dbo].[TeacherSubject] ([teacherId], [subjectId]) VALUES (4, 1)
GO
SET IDENTITY_INSERT [dbo].[TimeSlot] ON 

INSERT [dbo].[TimeSlot] ([slotId], [description]) VALUES (1, N'7h30 - 8h10')
INSERT [dbo].[TimeSlot] ([slotId], [description]) VALUES (2, N'8h10 - 8h50')
INSERT [dbo].[TimeSlot] ([slotId], [description]) VALUES (3, N'9h10 - 9h50')
SET IDENTITY_INSERT [dbo].[TimeSlot] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([userId], [username], [password], [fullName], [dob], [gender], [avatar], [phone], [email], [address], [role], [active], [historyPassword]) VALUES (1, N'headmaster', N'Abc.123123123', N'Head Master', CAST(N'2000-01-01' AS Date), N'Male', NULL, N'012345678', N'headmaster@fpt.com', N'Hoa Lac', N'headmaster', 1, NULL)
INSERT [dbo].[User] ([userId], [username], [password], [fullName], [dob], [gender], [avatar], [phone], [email], [address], [role], [active], [historyPassword]) VALUES (2, N'HoaDS', N'Abc.123123123', N'Dinh Sy Hoa', CAST(N'2001-12-05' AS Date), N'Male', NULL, N'0948887513', N'hoadshe170901@fpt.edu.vn

', N'Bac Ninh', N'teacher', 1, NULL)
INSERT [dbo].[User] ([userId], [username], [password], [fullName], [dob], [gender], [avatar], [phone], [email], [address], [role], [active], [historyPassword]) VALUES (3, N'HanNN', N'Abc.123123123', N'Nguyen Ngoc Han', CAST(N'2003-10-17' AS Date), N'Female', NULL, N'0869869445', N'hannnhe176199@fpt.edu.vn

', N'Ha Giang', N'teacher', 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Assessment]  WITH CHECK ADD  CONSTRAINT [FK__Assessmen__stude__4F47C5E3] FOREIGN KEY([studentId])
REFERENCES [dbo].[User] ([userId])
GO
ALTER TABLE [dbo].[Assessment] CHECK CONSTRAINT [FK__Assessmen__stude__4F47C5E3]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD  CONSTRAINT [FK__Attendanc__sessi__6383C8BA] FOREIGN KEY([sessionId])
REFERENCES [dbo].[Session] ([sessionId])
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [FK__Attendanc__sessi__6383C8BA]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD  CONSTRAINT [FK__Attendanc__stude__6477ECF3] FOREIGN KEY([studentId])
REFERENCES [dbo].[User] ([userId])
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [FK__Attendanc__stude__6477ECF3]
GO
ALTER TABLE [dbo].[Exam]  WITH CHECK ADD FOREIGN KEY([slotId])
REFERENCES [dbo].[TimeSlot] ([slotId])
GO
ALTER TABLE [dbo].[Exam]  WITH CHECK ADD FOREIGN KEY([subjectId])
REFERENCES [dbo].[Subject] ([subjectId])
GO
ALTER TABLE [dbo].[Exam]  WITH CHECK ADD FOREIGN KEY([teacherId])
REFERENCES [dbo].[User] ([userId])
GO
ALTER TABLE [dbo].[ExamStudent]  WITH CHECK ADD FOREIGN KEY([examId])
REFERENCES [dbo].[Exam] ([examId])
GO
ALTER TABLE [dbo].[ExamStudent]  WITH CHECK ADD FOREIGN KEY([StudentId])
REFERENCES [dbo].[User] ([userId])
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD  CONSTRAINT [FK__Material__create__625A9A57] FOREIGN KEY([createdBy])
REFERENCES [dbo].[User] ([userId])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [FK__Material__create__625A9A57]
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD  CONSTRAINT [FK_Material_Subject] FOREIGN KEY([subjectId])
REFERENCES [dbo].[Subject] ([subjectId])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [FK_Material_Subject]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [FK__Session__classId__5AEE82B9] FOREIGN KEY([classId])
REFERENCES [dbo].[Class] ([classId])
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [FK__Session__classId__5AEE82B9]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [FK__Session__slotId__5CD6CB2B] FOREIGN KEY([slotId])
REFERENCES [dbo].[TimeSlot] ([slotId])
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [FK__Session__slotId__5CD6CB2B]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [FK_Session_Subject] FOREIGN KEY([subjectId])
REFERENCES [dbo].[Subject] ([subjectId])
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [FK_Session_Subject]
GO
ALTER TABLE [dbo].[StudentClass]  WITH CHECK ADD  CONSTRAINT [FK__StudentCl__class__1BC821DD] FOREIGN KEY([classId])
REFERENCES [dbo].[Class] ([classId])
GO
ALTER TABLE [dbo].[StudentClass] CHECK CONSTRAINT [FK__StudentCl__class__1BC821DD]
GO
ALTER TABLE [dbo].[StudentClass]  WITH CHECK ADD  CONSTRAINT [FK__StudentCl__stude__1AD3FDA4] FOREIGN KEY([studentId])
REFERENCES [dbo].[User] ([userId])
GO
ALTER TABLE [dbo].[StudentClass] CHECK CONSTRAINT [FK__StudentCl__stude__1AD3FDA4]
GO
ALTER TABLE [dbo].[TeacherSubject]  WITH CHECK ADD  CONSTRAINT [FK__TeacherSu__subje__3864608B] FOREIGN KEY([subjectId])
REFERENCES [dbo].[Subject] ([subjectId])
GO
ALTER TABLE [dbo].[TeacherSubject] CHECK CONSTRAINT [FK__TeacherSu__subje__3864608B]
GO
