<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
   
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controllers.common.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controllers.common.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentDashBoardController</servlet-name>
        <servlet-class>controllers.student.StudentDashBoardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>controllers.common.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportingController</servlet-name>
        <servlet-class>controllers.headmaster.ReportingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherDashBoardController</servlet-name>
        <servlet-class>controllers.teacher.TeacherDashBoardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageTeacher</servlet-name>
        <servlet-class>controllers.headmaster.ManageTeacherController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageClass</servlet-name>
        <servlet-class>controllers.headmaster.ManageClassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageStudent</servlet-name>
        <servlet-class>controllers.headmaster.ManageStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageStudentInClass</servlet-name>
        <servlet-class>controllers.headmaster.ManageStudentInClassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssessmentController</servlet-name>
        <servlet-class>controllers.common.AssessmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaterialController</servlet-name>
        <servlet-class>controllers.common.MaterialController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectController</servlet-name>
        <servlet-class>controllers.common.SubjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleController</servlet-name>
        <servlet-class>controllers.headmaster.ScheduleController</servlet-class>
    </servlet>   
    <servlet>
        <servlet-name>TeacherScheduleController</servlet-name>
        <servlet-class>controllers.teacher.TeacherScheduleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentAnalysisController</servlet-name>
        <servlet-class>controllers.headmaster.StudentAnalysisController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendanceCheckingController</servlet-name>
        <servlet-class>controllers.common.AttendanceCheckingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassStudyController</servlet-name>
        <servlet-class>controllers.student.ClassStudyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentScheduleController</servlet-name>
        <servlet-class>controllers.student.StudentScheduleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAttendanceController</servlet-name>
        <servlet-class>controllers.student.ViewAttendanceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherClassController</servlet-name>
        <servlet-class>controllers.teacher.TeacherClassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamController</servlet-name>
        <servlet-class>controllers.headmaster.ExamController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentInExam</servlet-name>
        <servlet-class>controllers.headmaster.StudentInExam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamStudentController</servlet-name>
        <servlet-class>controllers.student.ExamStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamTeacherController</servlet-name>
        <servlet-class>controllers.teacher.ExamTeacherController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentDashBoardController</servlet-name>
        <url-pattern>/student/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherDashBoardController</servlet-name>
        <url-pattern>/teacher/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageTeacher</servlet-name>
        <url-pattern>/teacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportingController</servlet-name>
        <url-pattern>/reporting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageClass</servlet-name>
        <url-pattern>/class</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageStudent</servlet-name>
        <url-pattern>/student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageStudentInClass</servlet-name>
        <url-pattern>/studentinclass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssessmentController</servlet-name>
        <url-pattern>/assessment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaterialController</servlet-name>
        <url-pattern>/material</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectController</servlet-name>
        <url-pattern>/subject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleController</servlet-name>
        <url-pattern>/schedule-manage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherScheduleController</servlet-name>
        <url-pattern>/schedule-teacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceCheckingController</servlet-name>
        <url-pattern>/attendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentAnalysisController</servlet-name>
        <url-pattern>/headmaster/student-analysis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassStudyController</servlet-name>
        <url-pattern>/classstudy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentScheduleController</servlet-name>
        <url-pattern>/schedule-student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAttendanceController</servlet-name>
        <url-pattern>/attendance-view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherClassController</servlet-name>
        <url-pattern>/classincharge</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamController</servlet-name>
        <url-pattern>/exam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentInExam</servlet-name>
        <url-pattern>/studentinexam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamStudentController</servlet-name>
        <url-pattern>/exam-student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamTeacherController</servlet-name>
        <url-pattern>/exam-teacher</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            login
        </welcome-file>
    </welcome-file-list>
</web-app>
